.hero {
    text-align: center;
    width: 100%;
    font-size: clamp(1rem, 2vw, 1.3rem);
    margin-top: 10px;
    cursor: default;
}

.card {
    align-self: center;
    border-radius: 10px;
}

.campus {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
    max-width: 98%;
    margin: 5px auto;
    padding: 10px 10px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 0px 0px #000000;
    border: 2px solid black;
    margin-top: 20px;
    justify-content: center;
}

.campus>h2 {
    display: block;
    text-align: center;
    gap: 0;
    margin-top: 10px;
    width: 100%;
    font-size: clamp(1rem, 3vw, 2rem);
}

.campus-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: flex;
    padding: 10px;
}

.campus-item img {
    display: block;
    width: 450px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px #000000;
    border: 2px solid black;
    margin: 5px auto;
    margin-bottom: 20px;
    gap: 10px;
}

.campus-item img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}


.btn-group {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: auto;
}

.lost_btn,
.found_btn {
    padding: 8px 16px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    background-color: #f472b6;
    box-shadow: 3px 3px 0 black;
    width: 80px;
    transition: transform 0.2s ease, box-shadow 0.2s ease
}
.lost_btn:hover,
.found_btn:hover {
    transform: translateY(-2px);
    background-color: #000000;
    color: #FFFFFF;
}