section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: auto;
    max-width: 98%;
    height: 450px;
    margin: 20px auto;
    box-shadow: 4px 4px 0px 0px #000000;
    border: 2px solid black;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;  
    box-shadow: 4px 4px 0px 0px #000000;
    background-color: #3b82f6;
    margin: 0 auto;
    bottom: 20px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#username, #password {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    width: 100%;
    max-width: 300px;
    padding-left: 10px;
    font-size: 1rem;
}

.login-btn-field {
    display: flex;
    width: 100%;
    max-width: 300px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #FFFFFF;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px #000000;
}

button:hover {  
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
}

.login-section h2 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: white;
    display: block;
    text-align: center;
}

.login-form b {
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: white;
    display: block;
    text-align: left;

}

.username-field,
.password-field {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}