@font-face {
    font-family: 'Inter';
    src: url('./font/Inter-VariableFont_opsz,wght.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', 'sans-serif', 'Times New Roman', 'Helvetica', 'Segoe UI';
  }

@media screen and (max-width:842px){

    .hero h1 {
        font-size: clamp(1rem, 4vw, 2rem);
        text-align: center;
    }

    .campus {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        max-width: 89%;
        margin: 5px auto;
        margin-top: 20px;
    }

    .campus-item{
        flex-direction:column;
        width: 85%;
    }

    .logo {
        gap: 0;
    }

    .logo1 {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 600px) {
    .campus {
        flex-direction: column;
    }

    .campus-item {
        width: 90%;
    }

    .logo {
        gap: 0;
    }

    .logo1 {
        font-size: 1.0rem;
    }

}


body {  
    overflow-x: hidden;
    margin: 0;
    background-color: #fefce8;
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    background-color: #3b82f6;
    box-shadow: 4px 4px 0px 0px #000000;
    border-radius: 10px;
    min-height: 80px;
    height: auto;
    max-width: 98%;
    margin: 5px auto;
    padding: 2px 15px;
    top: auto;
    border: 2px solid black;
}

.nav-list {
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 11px;
    font-size: clamp(0.8rem, 2vw, 1.3rem);
    font-weight: bold;
}

.nav-list .login {
    background-color: white;
    color: rgb(45, 143, 255);
    padding: 8px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 4px 4px 0px 0px #000000;
    max-width: 98%;
}

.nav-list .login:hover {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo1{
    font-size: clamp(1.5rem, 4vw, 3rem);
    text-decoration: none; 
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3b82f6;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
<<<<<<< HEAD
    max-width: 99%;
    margin: 5px auto;
    box-shadow: 4px 4px 0px 0px #000000;
    border: 2px solid black;
=======
    max-width: 98%;
    margin: 5px auto;
    box-shadow: 4px 4px 0px 0px #000000;
    border: 2px solid black;
    margin-top: 20px;
>>>>>>> 31ca87568baf7088b5411712cf0b00e8ef3d61d9
}